---
layout: page
title: Authors
permalink: /authors/
---

<div class="home">

Package {{ site.data.pkg.Package }} is maintained by 
{% for maintainer in site.data.maintainer %}
{{ maintainer.name }} (Email: {{ maintainer.email }}) 
{% endfor %}
please send questions, suggestions, corrections to the maintainer only.

<p>

{% for author in site.data.authors %}
  <div class="image">
    {% if author.url %}
      <a target="_blank" href="{{ author.url }}">
    {% endif %}
    {% if author.image %}
      <img src="{{ author.image }}" alt="Homepage" height="100px">
    {% else %}
      <img src="/img/anonymous.png" alt="Homepage" height="100px">
    {% endif %}
    {% if author.url %}
      </a>
    {% endif %}
    <div class="desc">{{ author.name }}</div>
  </div>
{% endfor %}

</div>
