---
layout: page
title: Authors
permalink: /authors/
---

<div class="home">


{% for author in site.data.authors %}
  <div class="image">
    {% if author.url %}
      <a target="_blank" href="{{ author.url }}">
    {% endif %}
    {% if author.image %}
      <img src="{{ author.image }}" alt="{{ author.name }}" height="25%">
    {% else %}
      <img src="/img/anonymous.png" alt="{{ author.name }}" height="25%">
    {% endif %}
    {% if author.url %}
      </a>
    {% endif %}
    <div class="desc">{{ author.name }}</div>
  </div>
{% endfor %}

<p>

  <h1>Maintainer</h1>
  
  <ul class="posts">
      {% for author in site.data.maintainer %}
      <li> {{ author.name }} </li>
      {% endfor %}
  </ul>
                  
</div>
